force-app/main/default/flows/testFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>makeNewAccount</name>
        <label>makeNewAccount</label>
        <locationX>715</locationX>
        <locationY>173</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >accountRecord.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountAddress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insertAccount</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>testFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>testFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>insertAccount</name>
        <label>insertAccount</label>
        <locationX>986</locationX>
        <locationY>173</locationY>
        <inputReference>accountRecord</inputReference>
    </recordCreates>
    <screens>
        <name>accountInputScreen</name>
        <label>accountInputScreen</label>
        <locationX>505</locationX>
        <locationY>173</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>makeNewAccount</targetReference>
        </connector>
        <fields>
            <name>accountName</name>
            <dataType>String</dataType>
            <fieldText>取引先名</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>accountAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>addAccountCheckbox</name>
            <dataType>Boolean</dataType>
            <fieldText>こいつを登録する</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>173</locationY>
        <connector>
            <targetReference>accountInputScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>check</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
